* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(51, 13, 53);
}

.top-div{
  padding: 3em 2em 10em;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2em 0 #000;
}

.header {
  font-size: 5em;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(255, 187, 60);
}

.copy-message {
  position: absolute;
  z-index: 111;
  top: .4em;
  left: 50%;
  transform: translateX(-50%) translateY(-30px);
  transition: 100ms;
  font-size: 1em;
  color: rgb(255, 186, 25);
}

.copy-message[show="true"] {
  transform: translateX(-50%) translateY(0);
  transition: transform 150ms;
}


.container {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.display-div {
  display: flex;
  gap: 1em;
}

.display {
  background: #c9c9c9;
  min-height: 1.5em;
  min-width: 6em;
  padding-block: .2em;
  padding-inline: .5em;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 7px;
  color: #000;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.137);
  margin-left: .8em;
  letter-spacing: 2px;
}

.display:hover {
  cursor: default;
}

.btn {
  width: 70%;
  max-width: 150px;
  font-size: 1.4rem;
  padding: .2em;
  background: rgb(255, 187, 60);
  border: none;
  border-radius: 2em;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.137);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.177);
}

.copy-btn {
  font-size: 1.5em;
  border: none;
  background: none;
  opacity: 70%;
}

.copy-btn:hover {
  opacity: 50%;
  cursor: pointer;
}

.length {
  width: 10rem;
  padding: 0;
}

.length-text {
  font-family: sans-serif;
  font-size: 1.2em;
  color: rgb(66, 161, 212);
}